dev/trial_setup.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "fb0191a1-99ea-302a-b4cd-081b115cb135" : {
          "identifier" : "fb0191a1-99ea-302a-b4cd-081b115cb135",
          "name" : "e2e_postgres"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "8c973bca-8834-34fa-b37f-3dbde3c29f02",
            "instanceIdentifier" : "ce21189a-0196-1000-6bfc-7f4bd32d9349",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "c1ea24a5-2511-3a43-bc38-f6cbc9e71828",
          "instanceIdentifier" : "ce217733-0196-1000-8ece-2eecde5d08c5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "b2aca8d8-8919-3d8b-b4b5-5042886b7a2f",
            "instanceIdentifier" : "cdea80f5-0196-1000-2fbf-dcbbf580d020",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "957969ae-f48c-3cba-88f6-4533c58b1101",
            "instanceIdentifier" : "c7fe47dc-0196-1000-eb09-62e56d3b2f9d",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "702163e7-c4ae-30fa-a212-5743dca25a18",
          "instanceIdentifier" : "cdc8dc36-0196-1000-56f7-ad2de0f94c05",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "5f21e642-99dc-3e09-8523-d72afb6aea5f",
            "instanceIdentifier" : "cdc7ec26-0196-1000-8cb5-c502d46d335f",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "b2aca8d8-8919-3d8b-b4b5-5042886b7a2f",
            "instanceIdentifier" : "cdea80f5-0196-1000-2fbf-dcbbf580d020",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "45c93109-aacf-35a0-85ce-827e9712e452",
          "instanceIdentifier" : "cdeab9ea-0196-1000-e53c-fa42b14a4c17",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "51ed0534-ba6f-3f7e-8538-6fbd6240e702",
            "instanceIdentifier" : "cde5e543-0196-1000-325a-b40fcbdc257c",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "51ed0534-ba6f-3f7e-8538-6fbd6240e702",
            "instanceIdentifier" : "cde5e543-0196-1000-325a-b40fcbdc257c",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "7418ee4f-ee6c-34f5-9510-ed56ae63baa8",
          "instanceIdentifier" : "cde61117-0196-1000-cd67-bcfbb7a738fd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "957969ae-f48c-3cba-88f6-4533c58b1101",
            "instanceIdentifier" : "c7fe47dc-0196-1000-eb09-62e56d3b2f9d",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "994841ad-ef10-3c68-84c0-0eb65c9921c4",
            "instanceIdentifier" : "c7b9347b-0196-1000-664c-51a5517de708",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "9d36f420-d999-3fa8-8609-edba704fbe91",
          "instanceIdentifier" : "c7ba7c96-0196-1000-e314-7154e474127a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "1e375a46-22a2-3380-a183-fc0058831a57",
            "instanceIdentifier" : "c49f3af5-0196-1000-8f81-2372c2d86b5a",
            "name" : "ListS3",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "5f21e642-99dc-3e09-8523-d72afb6aea5f",
            "instanceIdentifier" : "cdc7ec26-0196-1000-8cb5-c502d46d335f",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "c12053b4-d1c4-3826-b0c9-c9cf24f9dcb6",
          "instanceIdentifier" : "cdc896c1-0196-1000-65bf-41999d5ffb68",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "is_file" ],
          "source" : {
            "comments" : "",
            "groupId" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
            "id" : "994841ad-ef10-3c68-84c0-0eb65c9921c4",
            "instanceIdentifier" : "c7b9347b-0196-1000-664c-51a5517de708",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
        "inputPorts" : [ ],
        "instanceIdentifier" : "c2c2caef-0196-1000-185e-61d816b0bba2",
        "labels" : [ ],
        "name" : "processing_unsctructured",
        "outputPorts" : [ ],
        "position" : {
          "x" : -488.0,
          "y" : 168.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "994841ad-ef10-3c68-84c0-0eb65c9921c4",
          "instanceIdentifier" : "c7b9347b-0196-1000-664c-51a5517de708",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 928.0,
            "y" : -144.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "is_file" : "${filename:endsWith(\".pdf\")}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "is_file" : {
              "displayName" : "is_file",
              "identifiesControllerService" : false,
              "name" : "is_file",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "8c973bca-8834-34fa-b37f-3dbde3c29f02",
          "instanceIdentifier" : "ce21189a-0196-1000-6bfc-7f4bd32d9349",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1032.0,
            "y" : 504.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "fb0191a1-99ea-302a-b4cd-081b115cb135",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "b2aca8d8-8919-3d8b-b4b5-5042886b7a2f",
          "instanceIdentifier" : "cdea80f5-0196-1000-2fbf-dcbbf580d020",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1024.0,
            "y" : 264.0
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "INSERT INTO stetments_detail (\n  Account_Number, Address, Statement_Period, Customer_Name, Opening_Balance, Closing_Balance\n) VALUES (\n  '${account_number}', '${address}', '${steatement_period}', '${customer_name}', '${opening_balance}', '${closing_balance}'\n);\n",
            "Evaluation Mode" : "Line-by-Line",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Text to Prepend" : {
              "displayName" : "Text to Prepend",
              "identifiesControllerService" : false,
              "name" : "Text to Prepend",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            },
            "Text to Append" : {
              "displayName" : "Text to Append",
              "identifiesControllerService" : false,
              "name" : "Text to Append",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "nonzero status" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "957969ae-f48c-3cba-88f6-4533c58b1101",
          "instanceIdentifier" : "c7fe47dc-0196-1000-eb09-62e56d3b2f9d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 432.0,
            "y" : 72.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Output MIME Type" : "application/json",
            "Command Path" : "python3",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "F:\\ShyenaTechYarns\\daily_practice\\pyspark\\sample_data\\streaming_practice\\groq_llm.py"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Output MIME Type" : {
              "displayName" : "Output MIME Type",
              "identifiesControllerService" : false,
              "name" : "Output MIME Type",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "51ed0534-ba6f-3f7e-8538-6fbd6240e702",
          "instanceIdentifier" : "cde5e543-0196-1000-325a-b40fcbdc257c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 424.0,
            "y" : 296.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "account_number" : "$.Account_Number",
            "address" : "$.Address",
            "Max String Length" : "20 MB",
            "closing_balance" : "$.Closing_Balance",
            "Return Type" : "auto-detect",
            "steatement_period" : "$.Statement_Period",
            "Null Value Representation" : "empty string",
            "opening_balance" : "$.Opening_Balance",
            "customer_name" : "$.Customer_Name",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "account_number" : {
              "displayName" : "account_number",
              "identifiesControllerService" : false,
              "name" : "account_number",
              "sensitive" : false
            },
            "address" : {
              "displayName" : "address",
              "identifiesControllerService" : false,
              "name" : "address",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "closing_balance" : {
              "displayName" : "closing_balance",
              "identifiesControllerService" : false,
              "name" : "closing_balance",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "steatement_period" : {
              "displayName" : "steatement_period",
              "identifiesControllerService" : false,
              "name" : "steatement_period",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "opening_balance" : {
              "displayName" : "opening_balance",
              "identifiesControllerService" : false,
              "name" : "opening_balance",
              "sensitive" : false
            },
            "customer_name" : {
              "displayName" : "customer_name",
              "identifiesControllerService" : false,
              "name" : "customer_name",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "1e375a46-22a2-3380-a183-fc0058831a57",
          "instanceIdentifier" : "c49f3af5-0196-1000-8f81-2372c2d86b5a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ListS3",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 368.0,
            "y" : -168.0
          },
          "properties" : {
            "list-type" : "1",
            "et-initial-listing-target" : "all",
            "prefix" : "stetments",
            "et-time-window" : "3 hours",
            "requester-pays" : "false",
            "listing-strategy" : "timestamps",
            "Signer Override" : "Default Signature",
            "min-age" : "0 sec",
            "write-s3-user-metadata" : "false",
            "Listing Batch Size" : "100",
            "write-s3-object-tags" : "false",
            "Bucket" : "finserv-sty",
            "Communications Timeout" : "30 secs",
            "Region" : "ap-south-1",
            "use-versions" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "list-type" : {
              "displayName" : "List Type",
              "identifiesControllerService" : false,
              "name" : "list-type",
              "sensitive" : false
            },
            "et-initial-listing-target" : {
              "displayName" : "Entity Tracking Initial Listing Target",
              "identifiesControllerService" : false,
              "name" : "et-initial-listing-target",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "prefix" : {
              "displayName" : "Prefix",
              "identifiesControllerService" : false,
              "name" : "prefix",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "et-time-window" : {
              "displayName" : "Entity Tracking Time Window",
              "identifiesControllerService" : false,
              "name" : "et-time-window",
              "sensitive" : false
            },
            "custom-signer-class-name" : {
              "displayName" : "Custom Signer Class Name",
              "identifiesControllerService" : false,
              "name" : "custom-signer-class-name",
              "sensitive" : false
            },
            "requester-pays" : {
              "displayName" : "Requester Pays",
              "identifiesControllerService" : false,
              "name" : "requester-pays",
              "sensitive" : false
            },
            "custom-signer-module-location" : {
              "displayName" : "Custom Signer Module Location",
              "identifiesControllerService" : false,
              "name" : "custom-signer-module-location",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "listing-strategy" : {
              "displayName" : "Listing Strategy",
              "identifiesControllerService" : false,
              "name" : "listing-strategy",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "delimiter" : {
              "displayName" : "Delimiter",
              "identifiesControllerService" : false,
              "name" : "delimiter",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "min-age" : {
              "displayName" : "Minimum Object Age",
              "identifiesControllerService" : false,
              "name" : "min-age",
              "sensitive" : false
            },
            "write-s3-user-metadata" : {
              "displayName" : "Write User Metadata",
              "identifiesControllerService" : false,
              "name" : "write-s3-user-metadata",
              "sensitive" : false
            },
            "max-age" : {
              "displayName" : "Maximum Object Age",
              "identifiesControllerService" : false,
              "name" : "max-age",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider Service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Listing Batch Size" : {
              "displayName" : "Listing Batch Size",
              "identifiesControllerService" : false,
              "name" : "Listing Batch Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "write-s3-object-tags" : {
              "displayName" : "Write Object Tags",
              "identifiesControllerService" : false,
              "name" : "write-s3-object-tags",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "et-state-cache" : {
              "displayName" : "Entity Tracking State Cache",
              "identifiesControllerService" : true,
              "name" : "et-state-cache",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            },
            "use-versions" : {
              "displayName" : "Use Versions",
              "identifiesControllerService" : false,
              "name" : "use-versions",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "5 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.ListS3",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.24.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "26c3fc73-d9f8-3cdd-a1f9-6c0e52ddd435",
          "identifier" : "5f21e642-99dc-3e09-8523-d72afb6aea5f",
          "instanceIdentifier" : "cdc7ec26-0196-1000-8cb5-c502d46d335f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 936.0,
            "y" : 64.0
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "${filename}",
            "Evaluation Mode" : "Entire text",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Text to Prepend" : {
              "displayName" : "Text to Prepend",
              "identifiesControllerService" : false,
              "name" : "Text to Prepend",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            },
            "Text to Append" : {
              "displayName" : "Text to Append",
              "identifiesControllerService" : false,
              "name" : "Text to Append",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}